@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* #region  /**=========== Primary Color =========== */
  --tw-clr-primary-50: 255, 241, 242;
  --tw-clr-primary-100: 255, 228, 230;
  --tw-clr-primary-200: 254, 205, 211;
  --tw-clr-primary-300: 253, 164, 175;
  --tw-clr-primary-400: 251, 113, 133;
  --tw-clr-primary-500: 244, 63, 94;
  --tw-clr-primary-600: 225, 29, 72;
  --tw-clr-primary-700: 190, 18, 60;
  --tw-clr-primary-800: 159, 18, 57;
  --tw-clr-primary-900: 136, 19, 55;
  --clr-primary-50: rgb(var(--tw-clr-primary-50)); /* #fff1f2 */
  --clr-primary-100: rgb(var(--tw-clr-primary-100)); /* #ffe4e6 */
  --clr-primary-200: rgb(var(--tw-clr-primary-200)); /* #fecdd3 */
  --clr-primary-300: rgb(var(--tw-clr-primary-300)); /* #fda4af */
  --clr-primary-400: rgb(var(--tw-clr-primary-400)); /* #fb7185 */
  --clr-primary-500: rgb(var(--tw-clr-primary-500)); /* #f43f5e */
  --clr-primary-600: rgb(var(--tw-clr-primary-600)); /* #e11d48 */
  --clr-primary-700: rgb(var(--tw-clr-primary-700)); /* #be123c */
  --clr-primary-800: rgb(var(--tw-clr-primary-800)); /* #9f1239 */
  --clr-primary-900: rgb(var(--tw-clr-primary-900)); /* #881337 */
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  @media (min-width: 768px) {
    html {
      scroll-padding: 110px;
    }
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Light.ttf');
    font-style: medium;
    font-weight: 300;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Regular.ttf');
    font-style: medium;
    font-weight: 400;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Medium.ttf');
    font-style: medium;
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-SemiBold.ttf');
    font-style: medium;
    font-weight: 600;
    font-display: swap;
  }
  @font-face {
    font-family: 'Poppins';
    src: url('/fonts/Poppins/Poppins-Bold.ttf');
    font-style: medium;
    font-weight: 700;
    font-display: swap;
  }
  @font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora/Sora-Medium.ttf');
    font-style: medium;
    font-weight: 500;
    font-display: swap;
  }
  @font-face {
    font-family: 'Sora';
    src: url('/fonts/Sora/Sora-SemiBold.ttf');
    font-style: medium;
    font-weight: 600;
    font-display: swap;
  }

  .cursor-newtab {
    cursor: url('/images/new-tab.png') 10 10, pointer;
  }

  /* #region  /**=========== Typography =========== */
  h1 {
    @apply text-2xl font-bold md:text-4xl font-heading;
  }

  h2 {
    @apply text-xl font-bold md:text-3xl font-heading;
  }

  h3 {
    @apply text-lg font-bold md:text-2xl font-heading;
  }

  h4 {
    @apply text-base font-bold md:text-lg font-heading;
  }

  body {
    @apply text-sm font-text md:text-base;
  }
  /* #endregion  /**======== Typography =========== */

  .layout {
    /* 1100px */
    max-width: 68.75rem;
    @apply w-11/12 mx-auto;
  }

  .bg-dark a.custom-link {
    @apply border-gray-200 hover:border-gray-200/0;
  }

  /* Class to adjust with sticky footer */
  .min-h-main {
    @apply min-h-[calc(100vh-69px)];
  }
}

@layer utilities {
  .animated-underline {
    background-image: linear-gradient(#33333300, #33333300),
      linear-gradient(to right, var(--clr-primary-400), var(--clr-primary-500));
    background-size: 100% 2px, 0 2px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: 0.3s ease;
    transition-property: background-size, color, background-color, border-color;
  }
  .animated-underline:hover,
  .animated-underline:focus-visible {
    background-size: 0 2px, 100% 2px;
  }
}
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #f5f5f5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #cccccc;
  opacity: 0.5;
  border-radius: 10px;
}
